doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='container-fluid')
      div(class='row')
        div(class='col-sm-2')
          block sidebar
            ul(class='sidebar-nav')
              li
                a(href='/catalog') Home
              li
                a(href='/catalog/table') All tables
              li
                a(href='/catalog/tableStatus') All tableStatus
              li
                a(href='/catalog/waiters') All waiters
              li
                a(href='/catalog/menuDish') All menuDish
              li
                hr
              li
                a(href='/catalog/table/create') Create new table
              li
                a(href='/catalog/menuDish/create') Create new menuDish
              li
                a(href='/catalog/waiters/create') Create new waiters
              li
                a(href='/catalog/tableStatus/create') Create new tableStatus

        div(class='col-sm-10')
          block content